{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="text-center">
        <h1 class="mt-4">Welcome to the Agritech App</h1>
        <p class="lead mt-3">Easily upload geotagged images, extract data, and visualize operations on a map.</p>
        <div class="mt-4">
            <a href="/upload/" class="btn btn-primary btn-lg me-2">Upload Image</a>
            <a href="/images/" class="btn btn-success btn-lg">View Images</a>
            <a href="/map/" class="btn btn-info btn-lg">View Map</a>

        </div>
    </div>
{% endblock %}
