{% extends 'base.html' %}
{% block content %}

   <div class="p-4 m-4 border rounded">
        <h2 class="text-center m-4">Upload Image</h2>
    {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}
    <form class="form col-md-4 p-4 mx-auto border rounded" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="image">Select Image:</label>
        <input class="form-control" type="file" id="image" name="image" accept="image/*" required>
        <button class=" mt-4 form-control btn btn-primary" type="submit">Upload</button>
    </form>
   </div>
{% endblock %}